<a href="https://colab.research.google.com/github/Yelitza22/Investigaci-n-de-operaciones-I/blob/main/examen3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Tercer parcial
### Marai Yelitza Olvera Oliva

- Cree una libreta de jupyter y cargue el archivo en un dataframe, al ser un archivo muy grande, es mejor cargarlo con la bandera low_memory=false de la siguiente manera:

El archivo contiene muchas columnas, un catalogo completo de que significa cada columna esta en el archivo catálogos que creo el INEGI que adjunto por cuestión informativa aunque irrelevante para el ejercicio. La estructura del archivo esta hecha de modo que cada fila contiene información por localidades de todo el país.

In [ ]:
import pandas as pd

data = pd.read_csv('datos.csv', low_memory=False)

data.head()

,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,LONGITUD,LATITUD,ALTITUD,POBTOT,...,VPH_CEL,VPH_INTER,VPH_STVP,VPH_SPMVPI,VPH_CVJ,VPH_SINRTV,VPH_SINLTC,VPH_SINCINT,VPH_SINTIC,TAMLOC
0,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,"102°17'45.768"" W","21°52'47.362"" N",1878,863893,...,232793,169675,123670,77719,53589,2995,5984,63661,595,13
1,1,Aguascalientes,1,Aguascalientes,94,Granja Adelita,"102°22'24.710"" W","21°52'18.749"" N",1902,5,...,*,*,*,*,*,*,*,*,*,1
2,1,Aguascalientes,1,Aguascalientes,96,Agua Azul,"102°21'25.639"" W","21°53'01.522"" N",1861,41,...,11,4,5,2,1,0,1,6,0,1
3,1,Aguascalientes,1,Aguascalientes,102,Los Arbolitos [Rancho],"102°21'26.261"" W","21°46'48.650"" N",1861,8,...,*,*,*,*,*,*,*,*,*,1
4,1,Aguascalientes,1,Aguascalientes,104,Ardillas de Abajo (Las Ardillas),"102°11'30.914"" W","21°56'42.243"" N",1989,1,...,*,*,*,*,*,*,*,*,*,1

- Cree un nuevo dataframe que solo contenga las columnas, NOM_ENT, NOM_LOC, POBTOT, POBFEM, POBMAS, VIVTOT

In [ ]:
filtro = ['NOM_ENT', 'NOM_LOC', 'POBTOT', 'POBFEM', 'POBMAS', 'VIVTOT']
datos = data[filtro]

datos.head()

,NOM_ENT,NOM_LOC,POBTOT,POBFEM,POBMAS,VIVTOT
0,Aguascalientes,Aguascalientes,863893,444725,419168,286646
1,Aguascalientes,Granja Adelita,5,*,*,3
2,Aguascalientes,Agua Azul,41,17,24,15
3,Aguascalientes,Los Arbolitos [Rancho],8,*,*,2
4,Aguascalientes,Ardillas de Abajo (Las Ardillas),1,*,*,8

- Usando agg, calcule cual era la población total de todo el país en el 2020, recuerde que la población de toda la localidad esta en la columna POBTOT

In [ ]:
poblacion_total = datos['POBTOT'].astype(int).agg('sum')
print(f'La población total de todo el país en el 2020 es: {poblacion_total}')

La población total de todo el país en el 2020 es: 126411503

- Compare la población total masculina y la población total femenina de todo el país e indique si la "probabilidad" real de que un bebe sea hombre o mujer si es 50-50 o se acerca a ese equilibrio, usando la columna POBFEM y POBMAS

In [ ]:
# Convertir las columnas POBFEM y POBMAS a enteros
datos.loc[:, 'POBFEM'] = datos['POBFEM'].replace('*', 0).astype(int)
datos.loc[:, 'POBMAS'] = datos['POBMAS'].replace('*', 0).astype(int)

# Calcular la población total femenina y masculina
poblacion_femenina = datos['POBFEM'].sum()
poblacion_masculina = datos['POBMAS'].sum()

# Calcular el porcentaje de cada una
total_poblacion = poblacion_femenina + poblacion_masculina
porcentaje_femenina = (poblacion_femenina / total_poblacion) * 100
porcentaje_masculina = (poblacion_masculina / total_poblacion) * 100

print(f'Población femenina total: {poblacion_femenina}')
print(f'Población masculina total: {poblacion_masculina}')
print(f'Porcentaje de población femenina: {porcentaje_femenina:.2f}%')
print(f'Porcentaje de población masculina: {porcentaje_masculina:.2f}%')

if abs(porcentaje_femenina - 50) < 1 and abs(porcentaje_masculina - 50) < 1:
    print('La probabilidad de que un bebé sea hombre o mujer es aproximadamente 50-50.')
else:
    print('La probabilidad de que un bebé sea hombre o mujer no es exactamente 50-50, pero se acerca a ese equilibrio.')

Población femenina total: 64537037
Población masculina total: 61466053
Porcentaje de población femenina: 51.22%
Porcentaje de población masculina: 48.78%
La probabilidad de que un bebé sea hombre o mujer no es exactamente 50-50, pero se acerca a ese equilibrio.

- Indique cual estado es el que tiene mas habitantes totales. (Tip: Use groupby para sumar la población por entidad y luego indique cual es la que mas pobladores tiene)

In [ ]:
# Agrupar por entidad y sumar la población total
poblacion_por_entidad = datos.groupby('NOM_ENT')['POBTOT'].sum()

# Encontrar la entidad con la mayor población
entidad_mas_poblada = poblacion_por_entidad.idxmax()
poblacion_mas_alta = poblacion_por_entidad.max()

print(f'El estado con más habitantes totales es: {entidad_mas_poblada} con una población de {poblacion_mas_alta}')

El estado con más habitantes totales es: México con una población de 16999194

- La columna VIVTOT indica cuantas viviendas existen en esa localidad, indique cual estado es el que tiene mas viviendas actualmente.

In [ ]:
# Agrupar por entidad y sumar el total de viviendas
viviendas_por_entidad = datos.groupby('NOM_ENT')['VIVTOT'].sum()

# Encontrar la entidad con el mayor número de viviendas
entidad_mas_viviendas = viviendas_por_entidad.idxmax()
viviendas_mas_altas = viviendas_por_entidad.max()

print(f'El estado con más viviendas es: {entidad_mas_viviendas} con un total de {viviendas_mas_altas} viviendas')

El estado con más viviendas es: México con un total de 5404303 viviendas

- Cuantas viviendas hay en la Ciudad de México?

In [ ]:
viviendas_cdmx = viviendas_por_entidad['Ciudad de México']
print(f'El número de viviendas en la Ciudad de México es: {viviendas_cdmx}')

El número de viviendas en la Ciudad de México es: 3036574

- Cuantos habitantes hay en la Ciudad de México?

In [ ]:
habitantes_cdmx = poblacion_por_entidad['Ciudad de México']
print(f'El número de habitantes en la Ciudad de México es: {habitantes_cdmx}')

El número de habitantes en la Ciudad de México es: 9210628

- Cuantas viviendas por persona hay en la Ciudad de México? Es decir de la razón de viviendas vs habitantes.

In [ ]:
# Calcular la razón de viviendas por persona en la Ciudad de México
razon_viviendas_por_persona_cdmx = viviendas_cdmx / habitantes_cdmx
print(f'La razón de viviendas por persona en la Ciudad de México es: {razon_viviendas_por_persona_cdmx:.6f}')

La razón de viviendas por persona en la Ciudad de México es: 0.329682

- (Opcional) Cual estado de México tiene mas viviendas por persona, es decir siguiendo la ley de oferta-demanda, en teoría en ese estado debería ser mas barato comprar casa... en teoría.

In [ ]:
# Calcular la razón de viviendas por persona para cada estado
razon_viviendas_por_persona = viviendas_por_entidad / poblacion_por_entidad

# Encontrar el estado con la mayor razón de viviendas por persona
estado_mas_viviendas_por_persona = razon_viviendas_por_persona.idxmax()
mayor_razon_viviendas_por_persona = razon_viviendas_por_persona.max()

print(f'El estado con más viviendas por persona es: {estado_mas_viviendas_por_persona} con una razón de {mayor_razon_viviendas_por_persona:.6f} viviendas por persona')

El estado con más viviendas por persona es: Morelos con una razón de 0.415834 viviendas por persona