<a href="https://colab.research.google.com/github/Yelitza22/Investigaci-n-de-operaciones-I/blob/main/extraordinarioADUC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Examen extraordinario; problema 5
##Olvera Oliva Marai Yelitza

Descargue el archivo a continuación. El archivo contiene las ventas de una tienda departamental. Analice el archivo usando Python y Pandas y conteste las siguientes preguntas:

In [46]:
import pandas as pd

# Leer el archivo CSV generado previamente
df = pd.read_csv('ventas.csv')
df.head(20)

         Fecha   Producto  Cantidad  Precio    CategorÃ­a
0   2023-06-16  PlÃ¡tanos         9  612.41          Ropa
1   2023-03-12    Teclado         1  676.09          Ropa
2   2023-02-24      Mouse         4  307.91     Alimentos
3   2023-03-08     Laptop         1  477.27     Alimentos
4   2023-08-09    Zapatos         7  532.87  ElectrÃ³nica
5   2023-09-08    Teclado         1  577.32          Ropa
6   2023-01-04    Teclado         8  314.39  ElectrÃ³nica
7   2023-09-20    Monitor         4  115.86  ElectrÃ³nica
8   2023-10-30      Leche         7  442.64  ElectrÃ³nica
9   2023-07-05      Leche         8  428.70     Alimentos
10  2023-05-05   Camiseta         7  514.67     Alimentos
11  2023-09-15  PlÃ¡tanos         4  405.44     Alimentos
12  2023-10-23    Teclado         5  933.80  ElectrÃ³nica
13  2023-11-15        Pan         1  938.91     Alimentos
14  2023-05-20    Teclado         2  404.05          Ropa
15  2023-04-12   Camiseta         6  980.44          Ropa
16  2023-07-14   Manzanas         5  367.93  ElectrÃ³nica
17  2023-10-28   Camiseta         2  229.23  ElectrÃ³nica
18  2023-12-22   Camiseta         8  224.13     Alimentos
19  2023-02-22    Monitor         2  996.64          Ropa

In [48]:
# Corregir el nombre de la columna para que sea legible
df.rename(columns={"CategorÃ­a": "Categoría"}, inplace=True)



*   Calcule el total de ingreso generado por la tienda departamental descrito en el archivo.

In [47]:
# Calcular el ingreso generado por cada venta
df['Ingreso'] = df['Cantidad'] * df['Precio']

# Total de ingresos generados
total_ingresos = df['Ingreso'].sum()

print(f"Total de ingresos generados: ${total_ingresos:,.2f}")

Total de ingresos generados: $296,223.42



*  ¿Cuál es el producto que más se vendió en cantidad?

In [49]:
# Producto más vendido en cantidad
producto_mas_vendido = df.groupby('Producto')['Cantidad'].sum().idxmax()
cantidad_mas_vendida = df.groupby('Producto')['Cantidad'].sum().max()

print(f"Producto más vendido en cantidad: {producto_mas_vendido} ({cantidad_mas_vendida} unidades)")

Producto más vendido en cantidad: Camiseta (68 unidades)



*   ¿Cuál es el producto que más generó ingresos?

In [60]:
# Producto que más generó ingresos
producto_mas_ingresos = df.groupby('Producto')['Ingreso'].sum().idxmax()
ingreso_mas_alto = df.groupby('Producto')['Ingreso'].sum().max()

print(f"Producto que más generó ingresos: {producto_mas_ingresos} (${ingreso_mas_alto:,.2f})")

Producto que más generó ingresos: Camiseta ($37,515.70)



*   ¿El producto más vendido es el mismo que el producto que generó más ingresos?

In [58]:
# Comparar si es el mismo producto
es_mismo_producto = producto_mas_vendido == producto_mas_ingresos

print(f"¿Es el mismo producto? {'Sí, es el mismo' if es_mismo_producto else 'No, no es el mismo'}")

¿Es el mismo producto? Sí, es el mismo



*   ¿Se puede dar alguna conclusión acerca de en que categoría de productos la tienda debe invertir más en marketing?

In [59]:
# Categoría con más ingresos
categoria_mas_ingresos = df.groupby('Categoría')['Ingreso'].sum().idxmax()
ingreso_categoria_mas_alta = df.groupby('Categoría')['Ingreso'].sum().max()

print(f"Categoría con más ingresos: {categoria_mas_ingresos} (${ingreso_categoria_mas_alta:,.2f})")
print(f"La tienda debería considerar invertir más en marketing para la categoría de {categoria_mas_ingresos}.")

Categoría con más ingresos: Ropa ($113,083.09)
La tienda debería considerar invertir más en marketing para la categoría de Ropa.



*   ¿Alguna conclusión que hayas descubierto que quisieras darle como consejo al dueño de la tienda?

In [64]:
# Distribuciones adicionales
print("\nDistribución de ingresos por categoría:")
print(df.groupby('Categoría')['Ingreso'].sum())

print("\nDistribución de ingresos por producto:")
print(df.groupby('Producto')['Ingreso'].sum())

# Conclusión adicional
print("\nConclusión adicional:")
print("Es importante analizar no solo la cantidad de productos vendidos, sino también los ingresos generados por cada producto.")
print("Invertir en marketing para la categoría más rentable puede maximizar las ganancias.")

Distribución de ingresos por categoría:
Categoría
Alimentos        90526.30
ElectrÃ³nica     92614.03
Ropa            113083.09
Name: Ingreso, dtype: float64

Distribución de ingresos por producto:
Producto
Camiseta     37515.70
Laptop       22416.85
Leche        25697.51
Manzanas      7927.64
Monitor      19546.68
Mouse        17375.19
Pan          17196.94
PantalÃ³n    31181.17
PlÃ¡tanos    23569.85
Tablet       31505.32
Teclado      26540.95
Zapatos      35749.62
Name: Ingreso, dtype: float64

Conclusión adicional:
Es importante analizar no solo la cantidad de productos vendidos, sino también los ingresos generados por cada producto.
Invertir en marketing para la categoría más rentable puede maximizar las ganancias.